# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
env/

# Node
node_modules/
dist/

# YOLO outputs
runs/

# Dataset
dataset/
datasets/

# Model weights
*.pt

# Logs
*.log

# VS Code settings
.vscode/

# OS files
Thumbs.db
.DS_Store